#android.gradient
  #output
  #top-half
    #time-marker
    #twenty-four
    .container
      #pom-left
      #pom-right
      #poms.shadow
    /#stats
    /#button-start START
    / .meter.draggable
    /  #first
    /  #second
    /  #third
  / #blah.slider
  /  .peg
  / #bottom-half
  #connection
  #arbolade
  /  %textarea#pomsheet-area{readonly: true}