#android.gradient
  #right-half
    #pomsheet-area-container
      %textarea#pomsheet-area{readonly: false, spellcheck: 'false', }
    #minimap-container 
      %textarea#minimap-area{readonly: true, spellcheck: 'false'}
    #minimap-scroller-container
      #minimap-scroller-nub
  #pomsheet-options
    #pomsheet-bar
      ="--------------------<br>"
    #pomsheet-grep-label GREP:
    %input#pomsheet-grep-input{type: "text"}
    #pomsheet-poms Notes
    #pomsheet-words Pomsheet
    / #pomsheet-area{contenteditable: true, spellcheck: 'false'}
:css
  #right-half { 
    left: 0px;
    width: 100%;
    display: none;
  }
  