#android.gradient
  #top-half
    #time-marker
    #twenty-four
    .container
      #pom-left
      #pom-right
      #poms.shadow 9
      #button-start START
    #meter.draggable
      #first
      #second
      #third
  #blah.slider
    .peg
  #bottom-half
    %textarea#pomsheet-area{readonly: true}