#android.gradient
  #output
  #left-half
    #top-half.container
      #chart-container
        #weekly-chart
      #time-marker
      #twenty-four
      .container
        #pom-left
        #pom-right
        #poms.shadow
      /#stats
      /#button-start START
      / .meter.draggable
      /  #first
      /  #second
      /  #third
    / #blah.slider
    /  .peg
    / #bottom-half
    #connection
    #bottom-half
      #arbolade
  #right-half
    %textarea#pomsheet-area{readonly: true, spellcheck: 'false'}