:javascript
  $(document).ready( function(){
    var logo = document.getElementById("logo");
    var demo = document.getElementById("demo");
    TweenLite.to(logo, 1, {left:"632px", top:"632px"});
  });

:css 
  body{
      background-color:#000;
  }
  #demo {
      width: 692px;
      height: 692px;
      background-color: #333;
      padding: 8px;
  }
  #logo {
      position: relative;
      width: 60px;
      height: 60px;
      background: url(img/logo_black.jpg) no-repeat;
  }

#demo.neato
  #logo.neato
  #updateOutput
  #completeOutput

