:css 
  body{
      background-color:#000;
  }
  #demo {
      width: 692px;
      height: 692px;
      background-color: #333;
      padding: 8px;
  }
  #logo {
      position: relative;
      width: 60px;
      height: 60px;
      background: url(img/logo_black.jpg) no-repeat;
  }

#demo.neato
  #logo.neato
  #updateOutput
  #completeOutput

:javascript

$(window).load() = function(){
  var logo = document.getElementById("logo");
  var demo = document.getElementById("demo");
  TweenLite.from(logo, 2, {opacity:10})
  TweenLite.to(logo, 1, {left:"632px", top:"632px"});
  TweenLite.to(demo, 1, {backgroundColor:"white"})
  TweenLite.to(logo, 1, {left:"-=632px",top:"0px", delay: 1})
  TweenLite.to(demo, 1, {backgroundColor:"red",width:"60px", height:"60px", delay: 1})
  TweenLite.to([logo,demo],1, {scale:0.6,delay:2})
  TweenLite.to($(".neato"),  1, {scale:1.1,delay:3})

}