#output
#telos
  :css
    ul, li {
      display: block;
      margin: 0px;
      padding: 2px;
      padding-left: 20px;
    }
  :markdown
    * New Hacker Space
      * We have a mission statement.
        * We know what we're about
          * We agree on education, innovation, sustainability
          * We're working from good models
      * We're solvent
        * We can pay overhead
        * We can pay rent
        * We can pay teachers
        * We're getting grants
          * We have 501C3 non-profit status
      * We're profitable
        * We have revenue streams
          * We have a functional teaching program
      * We have a board of directors
      * We've reached out to a core contingency
        * We've prepared reading material for interested parties
      * We're ready to open our doors
        * We have a good space
        * We've taken care of parking
      * We're a transparent organization
        * Our finances are viewable to the membership
        * Our procedures are available online
        * We're seeding knowledge into the community itself
          * Mission-critical operations details are taught to core members
            * We have education in place specifically for contributing to the space
      * New members want to stay
        * We have a way to get new members involved in the community
        * We have our membership policies worked out
          * We have the membership rates and specials figured out
          * Our policies procedures are documented and viewable
      * Our website is crystal clear about who we are
      * We're functioning like a real cooperative
        * We're talking and listening to experienced coop folks
        * The explicit structure that we're using is documented online
      * We have insurance  covered