#ipad.gradient
  %textarea#pomsheet-area{readonly: false, spellcheck: 'false'} epoqwiepqwoie
  #pomsheet-options
    #pomsheet-bar
      ="__________________<br>"
    #pomsheet-poms Notes
    #pomsheet-words Pomsheet