html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  background: rgb(0,40,80);
}

#weeklies {
  background: black;
  width: 100%;
}

#output { 
  text-align: left;
}

.weekly-days { 
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: solid;
  float: left;
  border-width: 2px;
  background: rgb(0,40,80);
  opacity: 0.4;
}

.weekly-header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: solid;
  float: left;
}


#tag-buttons, #category-buttons {
  display: none;
}

#input-start, .tag-button { 
  background-color: rgb(100,30,60);
  margin: 10px;
  padding: 10px;
  width: 100px;

  border: solid;
  border-width: 2px;
  border-color: rgb(120,50,80);
}

.square {
  position: relative;
  top: 50px;
  width: 50px;
  height: 50px;
  background: blue;
}

#pomsheet-input {
  margin-top: 5px; 
  border: 0px;
  width: 80%;
}

#android {
  position: relative;
  font-family: 'Helvetica';
  color: rgb(120,120,200);
  background: rgb(60,60,100);
  text-align: center;
  width: 100vw;
  height: 100%;
}

#sandbox {
  color: rgb(120,120,200);
  padding: 10px;
  height: 100%;
}

#top-half {
  height: 50%;
}

#bottom-half {
  height: 50%;
  overflow: hidden;
  background: rgb(0,0,0);
  opacity: 0.3;
}

#pomsheet-area {
  margin: 0px;
  padding-top: 10px;
  padding-left: 10px;
  border-style: none;
  outline: none;
  border-color: Transparent;
  background-color: Transparent;
  color: white;
  overflow: auto;
  width:110%;
  height: 100%;
  resize: none;
}

#twenty-four {
  width: 100%;
  height: 12px;
  background: rgb(0,0,0);
}

#pom-left { font-size: 0.8em; margin: 5px; float: left; }

#pom-right { font-size: 0.8em; margin: 5px; float: right; }


#time-marker {
  position: absolute;
  width: 3px;
  height: 12px;
  background: red;
}

#poms {
  /*background: rgba(10,10,10,0.3);*/
  /*float: left;*/
  margin: 0px;
  padding: 0px 30px 0px 30px;
  font-size: 6em;
  height: 1.15em;
}

.meter {
  margin: auto;
  /*background: rgb(100,100,100);*/
  width: 90%;
  height: 12px;
}

#first, #second, #third, .meta-block {
  color: rgb(150,150,150);
  text-align: center;
  font-size: 0.75em;
  font-family: sans-serif;
  float: left;
  margin: auto;
  width: 33.33%;
  height: 100%;
}

#twenty-four > .block {
  background: rgb(40,40,40);
  border: 1px solid rgb(30,30,30);
}

#first > .block {
  background: rgb(120,80,80);
  border: 1px solid rgb(100,70,70);
}

#second > .block {
  background: rgb(80,120,80);
  border: 1px solid rgb(50,100,50)
}

#third > .block {
  background: rgb(80,80,120);
  border: 1px solid rgb(70,70,100);
}

.block, .vblock {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-style: solid;
  height: 100%;
  opacity: 1;
}

.block { float: left; }


/*Goofy effects*/
.shadow {
  text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}

.lil-shadow {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); 
}

#android.gradient, .gradient { 
  background: #c48787; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #c48787 1%, #010235 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#c48787), color-stop(100%,#010235)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #c48787 1%,#010235 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #c48787 1%,#010235 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #c48787 1%,#010235 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #c48787 1%,#010235 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c48787', endColorstr='#010235',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Clear Fix */

#dash {
  position: relative;
  background: black;
  height: 100%;
}

.container:after {
  content:"";
  display:table;
  clear:both;
}

.slider {
  float: right;
  background-color: rgb(100,100,100);
  height: 50%;
  width: 3em;
  opacity: 1;
}
.peg {
  background-color: rgb(140,200,200);
  border: solid;
  border-color: rgb(100,130,130);
  height: 3em;
}

#button-start {
  position: relative;
  float: right;
  font-size: 2em;
  padding: 20px;
  background: rgb(60,60,60);
  top: 50px;
  right: 50px;

}